.graphic-container {
text-align:center;
padding: 20px;
}

BODY {
  font-family: 'PT Serif', serif;
font-family: 'Montserrat', sans-serif;
}

.headline {
  font-weight:700;
  font-size:3em;
  font-family: 'Montserrat';
  text-align: center;
}

.byline{
text-align: center;
font-family: 'Montserrat';
font-size:1.5em;
}

.intro {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  max-width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.body1 {
  text-align: center;
  font-family: 'Montserrat'
  font-size: 1.5em;
  font-weight: bold;
}

  .body {
    font-family: 'Montserrat'
    font-size: 1.25em;
  }

.chapter {
  font-family: 'Montserrat';
  font-size: 2em;
  font-weight: bold;
  color:#FFD520;
}

.banner {
  width:"10%;"
  max-width:"1000px;"
}

ul.navbar-nav {
 margin-left:50%;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
 font-size: 1.25em;
 color: #FFD520;
}

.foot{
  width: "80%;"
}

footer {
  height: 100px;
  background: #FFD520;
  text-align: center;
  font-family: 'Montserrat';
  color: #ffffff;
